node_modules
.env
.env.*
!.env.example
*.log

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/
ignition/parameters/*.json

# Local tool outputs
/typechain
/typechain-types
/bin/dev-node
/bin/eth-rpc
.papi/
